/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// Commented out because they refused to behave properly
// will just use the CDN
//$fa-font-path: '@fortawesome/fontawesome-free/webfonts';
//@import '@fortawesome/fontawesome-free/scss/fontawesome';
//@import '@fortawesome/fontawesome-free/scss/regular';
//@import '@fortawesome/fontawesome-free/scss/solid';
//@import '@fortawesome/fontawesome-free/scss/brands';
//@import 'bootstrap/scss/bootstrap';

// Add any GLOBAl SCSS/CSS to this file for your project. If it is specific
// to a page, use the individual SCSS file that is generated for the controller
// The comments at the top of the file, specifically require_tree .
// and require_self *cannot* be removed.

// Your code here...
#client-profile-title {
    color: navy; /* Setting the text color to navy blue */
    text-align: center; /* Aligning the text to the center */
    margin-top: 20px; /* Centering vertically on the screen */
    transform: translateY(-50%); /* Fine-tuning the vertical centering */
    font-size: 2em; /* Increasing the font size */
    text-decoration: underline
  }

  .dyslexic-font {
    font-family: 'OpenDyslexic', Arial, sans-serif;
  }

/* Styling for the image */
#my-element {
  width: 180px;
  height: auto;
  text-align: center;
  margin-left: auto;
  margin-right: 20px; /* Adjust this value to move the image more to the left */
}

.language-selector {
  height: 100%;
  background-color: initial;
  border: initial;
  color: rgba(255, 255, 255, .5);
}


.navbar-standard {
  background-color: #5a5454;
}

/* Color for the colorblind mode */
.navbar-colorblind {
  background-color: #268b48; 
}

/* Ensures navbar text remains white */
.navbar-standard .navbar-brand,
.navbar-standard .nav-link,
.navbar-colorblind .navbar-brand,
.navbar-colorblind .nav-link {
  color: white !important;
}



