<h1>Home#index</h1>

<h2> Team 22 Collaborative Project for SE Fall 2023 </h2>
<p>
This website is for a basic version of our pre-registration module for Arm in Arm. 
It will be updated as we complete features throughout the semester. 
</p>

<h3> Team Members </h3>
<p>
Alex Di Bianco
</p>
<p>
Michael Coty
</p>
<p>
Christian Pirog
</p>
<p>
Maneesh Ariga
</p>
<style>
  .main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90vh;
  }
</style>
<div class="main-container">
  <div class="row mx-auto">
    <%= image_tag 'image.png', id: 'my-element', alt: 'Arm in Arm' %>
  </div>
  <div class="text-center" style="padding-bottom: 100px">
    <h2>Client Profile Registration and Search Portal</h2>
  </div>
  <div class="row">
    <div class="mx-auto">
      <a href="/new_client" class="btn btn-primary">Home</a>
      <a href="/my_client" class="btn btn-primary">Modify Client Profile</a>
      <a href="/search" class="btn btn-primary">Search</a>
    </div>
  </div>
</div>
