<h1>Home#index</h1>

<h2> Team 22 Collaborative Project for SE Fall 2023 </h2>
<p>
This website is for a basic version of our pre-registration module for Arm in Arm. 
It will be updated as we complete features throughout the semester. 
</p>

<h3> Team Members </h3>
<p>
Alex Di Bianco
</p>
<p>
Michael Coty
</p>
<p>
Christian Pirog
</p>
<p>
Maneesh Ariga
</p>

