<style>
  .main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90vh;
  }
</style>
<div class="main-container">
  <div class="row mx-auto">
    <%= image_tag 'image.png', id: 'my-element', alt: 'Arm in Arm' %>
  </div>
  <div class="text-center" style="padding-bottom: 100px">
    <h2>Client Profile Registration and Search Portal</h2>
  </div>
  <div class="row">
    <div class="mx-auto">
      <a href="/new_client" class="btn btn-primary">Home</a>
      <a href="/search" class="btn btn-primary">Search</a>
      <a href="/appointments" class="btn btn-primary">Appointment Maker</a>
    </div>
  </div>
</div>
